body {
    width: 65%;
    margin: auto;
    background-color: #43464b;
    font-family: 'Nunito', sans-serif;
}

section {
    text-align: center;
}

.game--title {
    color: #BFC8D6;
    font-weight: bold;
    margin: 10px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #3E505C;
    color: #968768;
}

.cell {
    width: 100px;
    height: 100px;
    box-shadow: 4px 4px #798E9C;
    border: 2px solid #95BFDB;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    border-radius: 5px;
}

.game--status {
    color: #BFC8D6;
    font-weight: bold;
    margin: 20px auto;
}

.game--restart {
    display: inline;
    background-color: #2D3033;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #BFC8D6;
    font-weight: bold;
    box-shadow: 3px 3px 0px 0px #778396;
    border: 1px solid #968768;
    border-radius: 5px;
    transition: ease;
    margin-right: 20px;
}

.game--restart:hover {
    background-color: #BFC8D6;
    color: #2D3033;
    box-shadow: 3px 3px 0px 0px #968768;
    border: 1px solid #778396;
}

.game--computer {
    display: inline-block;
    background-color: #2D3033;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #BFC8D6;
    font-weight: bold;
    box-shadow: 3px 3px 0px 0px #778396;
    border: 1px solid #968768;
    border-radius: 5px;
    transition: ease;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 5px;
}

.game--computer:hover {
    background-color: #BFC8D6;
    color: #2D3033;
    box-shadow: 3px 3px 0px 0px #968768;
    border: 1px solid #778396;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    color: #798E9C;
    border: 1px solid #95BFDB;
}

.btn-circle:hover {
    border: 1px solid #798E9C;
    color: #95BFDB;
}